<html>
    <head>
        <title>To-Do</title>
    </head>
    <body>
        <h1>To-Do</h1>
        <form method="post">
            <input id="id-input-todo" name="todo-entry" placeholder="What do you want to do?">
            {% csrf_token %}
        </form>
        <table id="id-table-todo">
            {% if todo_entries %}
                {% for todo in todo_entries %}
                    <tr><td>{{ todo.task }}</td></tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>
